@media all and (min-width: 1024px) {
  .cardsList {
    padding: 40px 0;
  }
}
@media all and (min-width: 1540px) {
  .cardsList {
    padding: 40px 2px;
  }
}
.cardsList{
  background-color: #F4F4F4;
}
