.card {
  position: relative;
  background-color: var(--white);
  border-radius: 7px;
  padding: 20px 20px 10px;
  display: flex;
  flex-flow: row wrap;
  background-color:#FFFFFF;
  margin-top: 20px;
  opacity: 0;
  animation: ani 0.7s forwards;
}
@keyframes ani {
  0% {opacity: 0;}
  10% {opacity: 0.05;}
  20% {opacity: 0.1;}
  30% {opacity: 0.2;}
  40% {opacity: 0.3;}
  50% {opacity: 0.4;}
  60% {opacity: 0.5;}
  70% {opacity: 0.6;}
  75% {opacity: 0.7;}
  80% {opacity: 0.8;}
  90% {opacity: 0.9;}
  100% {opacity: 1;}
}
.card > *, .textContent > * {
  flex: 1 1 100%;
}
.card > * + * {
  padding: 13px 0 0;
}
.card:hover h2 a, .card:focus-within h2 a {
  color: var(--orange);
}

@media all and (min-width: 1024px) {
  .card {
   /*  background-color: transparent; */
    flex-flow: row nowrap;
    max-height: 107px;
    padding: 0 40px;
  }
  .card > * {
    flex: 0 0;
  }
  .card > * + * {
    padding: 0;
  }
}

@media all and (min-width: 1540px) {
  .card {
    padding: 20px 60px;
    max-height: 147px;
    cursor: pointer;
  }
  .card:hover, .card:focus-within {
    outline: 1px solid #131111;
  }
}







