.container{
  position: relative;
  display: flex;
  flex-direction: column;
 
  margin-right: 5px;
 
}
.conteinerButton{
  display: flex;
  justify-content: space-between;
  align-items: end;
  border: 5px solid var(--grayF4);
  border-radius: 0px 0px 7px 7px;
  background-color: var(--grayF4);
}
.containerForm{
  background-color: white;
  padding-top: 5px;
  padding-right: 5px;
  padding-left: 5px;
  border: 3px solid var(--grayF4);
  border-radius: 7px 7px 0px 0px;
}
.textarea{
  width: 100%;
  outline: none;
	-moz-appearance: none;
	border: none;
  resize: none;
}
.textarea:focus{
 outline: none;
}